

.company-culture .advantage-list {
	padding: 10px 0 80px;
}

.company-culture .advantage-list .advantage-list-item {
	margin-top: 20px;
}

.company-culture .advantage-list .advantage-list-item.reverse {
	flex-direction: row-reverse;
}

.company-culture .advantage-list .advantage-item-img {
	width: 291px;
	height: 217px;
	display: block;
}

.company-culture .advantage-list .advantage-right {
	flex: 1;
	padding: 30px 40px;
	box-sizing: border-box;
	background-color: #fff;
}

.company-culture .advantage-list .advantage-right .title {
	font-size: 18px;

	display: -webkit-box;
	overflow: hidden;
	/*! autoprefixer: ignore next */
	-webkit-box-orient: vertical;
	/* autoprefixer: on */
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
}

.company-culture .advantage-list .advantage-right .content {
	font-size: 14px;
	color: #666;
	line-height: 2;
	margin-top: 20px;

	display: -webkit-box;
	overflow: hidden;
	/*! autoprefixer: ignore next */
	-webkit-box-orient: vertical;
	/* autoprefixer: on */
	-webkit-line-clamp: 4;
	text-overflow: ellipsis;
}

.company-culture .media-focus {
	margin-top: 40px;
	margin-bottom: 80px;
}

.company-culture .media-focus .infos {
	flex: 1;
	margin-right: 20px;
}

.company-culture .media-focus .infos p {
	line-height: 2;
	margin-bottom: 15px;
	font-size: 14px;
	color: #4c4c4c;
}

.company-culture .media-focus .img-cover {
	width: 392px;
	height: 374px;
}